/* styles.css */
@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Poppins-Regular.ttf') format('truetype'); /* Point to the correct path */
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Poppins-SemiBold.ttf') format('truetype'); /* Point to the correct path */
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Poppins-Bold.ttf') format('truetype'); /* Point to the correct path */
    font-weight: 800;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'MyCustomFont';
}
html{
    scroll-padding-top: 100px;
}
body{
    /*background-color:#e0e0e0;*/
    /*background-color: rgb(240,240,240);*/
    font-size: 1.5rem;
    font-weight: bold;
}
#body-ctr{
    width: 100%;
    overflow: hidden;
}
#navbar {
    z-index: 1;

}
#logo{
    width: 300px;
    position: absolute;
    top: 1.5rem;
    left: 0;
    z-index: 1;
}
.navbar-toggler{
    width: 70px;
    height: 70px;
}
.navbar-toggler-icon{
    width: 35px;
    height: 35px;
}
.navbar-collapse{
    color: black;
    backdrop-filter: blur(10px);
    padding: 30px;
    margin-left: 65%;
}

main {
    margin: 80px auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hero section */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
#image-ctr {
    position: relative;
    margin: 2rem 0 0 0;
}
#hero-img{
    width: 30%;
}
h2 {
    position: absolute;
    top: 64%;
    left: 50%;
    font-size: 6rem;
    font-weight: 400;
    text-wrap: nowrap;
    letter-spacing: 5px;
}
#name {
    font-size: 3rem;
    color: #e0e0e0;
    mix-blend-mode: difference;
    animation: marquee 12s linear infinite;
}


@keyframes marquee {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(-100%);
    }
}
#up{
    position: fixed;
    width: 4rem;
    right: 1rem;
    bottom: 1rem;
    transform: rotate(180deg);
    background-color: rgba(220,220,220,.5);
    border-radius: 15px;
    z-index: 1;
}
#up:hover{
    background-color: rgba(220,220,220);
    cursor: pointer;
    transition: .5s;
}
#about-icons{
    width: 80%;
    margin: 2rem 0 14rem 0;
}
#about-icons i {
    font-size: 2rem;
}
#about-icons i:hover{
    color: black;
    cursor: pointer;
}
#greeting {
    width: 80%;
    margin: 100px 0;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
}
#greeting span:nth-of-type(2){
    margin-left: 15%;
}
#hi{
    background: rgb(43,50,132);
    background: linear-gradient(99deg, rgba(43,50,132,1) 0%, rgba(19,125,197,1) 63%);
    color: white;
    width: 6rem;
    height: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    transform: rotate(-30deg);
    position: relative;
    top: 18px;
    left: -20px;
}
#hi i {
    font-size: 1.8rem;
    position: relative;
    margin: 1px;
}
h3{
    color: black;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 1rem;
    /*font-weight: bold;*/
    /*text-decoration: underline;*/
    /*transform: rotate(-6deg);*/
    font-family: 'MyCustomFont';
    padding: 0;
    text-align: left;
    align-self: start;
    margin: 10rem 0 2rem 0;
}



#arrow{
    margin-top: -100px;
}
#arrow img{
    height: 12rem;
    transform: rotate(80deg);
}
#about{
    height: 100%;
    width: 100%;
}
#about-img{
    width: 60%;
    max-width: 1200px;
    /*height: 70rem;*/
    margin-bottom: 50px;
    border-radius: 15px;
}


#about-text{
    width: 60%;
    margin-left: 5px;
    font-weight: 400;
    font-size: 1.2rem;
}
#tech-stack-ctr{
    margin: 20px 0 110px;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    color: #e0e0e0;
    background-image: url("darkwp1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}
#tech-stack-header p{
    padding:20px;
}
#tech-stack-items-ctr{
    width: 100%;
}
.tech-stack-item{
    width: 20%;
    height: 5rem;
    border-radius: 100px;
    background: linear-gradient(135deg,rgba(255,255,255,.2), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.4);
    overflow: hidden;
}
/*.tech-stack-item p{*/
/*    padding: 0;*/
/*}*/
.card-body{
    width: 100%;
    height: 100%;
}
i {
    margin-top: 1rem;
    font-size: 3rem;
    color: #e0e0e0;
    transition: .8s;
}
.tag-text {
    visibility: hidden;
    position: absolute;
    color: #e0e0e0;
    font-size: 1.5rem;
    margin: 0;
}
.tag-text{
    transform: translateX(50rem);
    transition: 1s;
}
.tech-stack-item .card-body:hover{
    cursor: pointer;

}
.tech-stack-item:hover i{
    transform: translateX(-50rem);
    transition: .5s;
}
.tech-stack-item:hover .tag-text{
    visibility: visible;
    transform: translateX(0%);
    transition: .5s;
}

.card{
    margin: 50px;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.3);
    transition: .5s;
}

/*projects start here*/
#projects-ctr{
    width: 100%;
}
#projects-ctr .card-body{
    background-color: #e0e0e0;
    height: 100%;
}
#projects-ctr .card-img-top{
    height: 25rem;
}
#projects-ctr .card{
    position: relative;
    width: 40rem;
    margin: 40px 0;
}
#projects-ctr .card-title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
}
#projects-ctr p{
    font-size: 1.2rem;
    font-weight: 400;
}
.tech-used{
    position: absolute;
    right: .5rem;
    bottom: .5rem;
}
.tech-used i{
    font-size: 2rem;
    color: black;


}
.btn{
    font-size: 1.2rem;
    color:#7b7a79 ;
}

@media (min-width: 1200px){
    #navbar{
        font-size: 1.5rem;
    }
    .nav-link{
        margin: 0 .6rem;
    }
    #navbar .nav-link:hover{
        background-color: rgba(220,220,220,.5);
        border-radius: 15px;
        transition: .5s;
    }
    #logo{
        width: 18rem;
        top: 2rem;
    }
    .navbar-collapse{
        margin-left:0;
    }
    #image-ctr{
        margin: 0;
    }
    #hero-img{
        height: 30rem;
        width: 100%;
    }
    h2{
        font-size: 7rem;
    }
    #greeting{
        font-size: 2rem;
    }
    #hi{
        width: 8rem;
        height: 100%;
        top: 30px;
        left: 50px;
    }
    #hi i{
        font-size: 2.5rem;
    }
    #about-img{
        width: 40%;
        height: 38rem;
        margin-left: 50px;
    }
    #about-text{
        width: 50%;
        padding: 40px;
    }
    .tech-stack-item{
        width: 25%;
    }
    #projects-ctr{
        position: relative;
        height: 100%;
        margin: 0;
    }
    .tech-stack-item{
        width: 20%;
    }
    #mein-projekten{
        margin-bottom: 2rem;
    }
    #projects-ctr .card-img-top{
        height: 16rem;
    }
    #projects-ctr .card{
        opacity: .5;
        z-index: 0;
        width: 40rem;
    }
    #projects-ctr .active{
        position: absolute;
        top:0;
        opacity: 1;
        margin: 0 -200px;
        z-index: 1;
        height: 95%;
        /*margin:0;*/
    }



    #projects-ctr .card:hover{
        cursor:pointer;
        transition: .5s;
        transform: none;
    }
}

@media (max-width: 650px){
    #logo{
        width: 200px;
        top: 1rem;
    }
    .navbar-collapse{
        margin-left: 45%;
    }
    .navbar-toggler{
        width: 50px;
        height: 50px;
    }
    .navbar-toggler-icon{
        width: 25px;
        height: 25px;
    }
    #hero-img{
        width: 40%
    }
    #image-ctr {
        margin: 7rem 0 0 0;
    }
    #about-icons{
        margin-top: 6rem;
    }
    #tech-stack-ctr{
        padding:0;
    }
    #about-img{
        width: 90%;
    }
    #tech-stack-items-ctr{
        width: 100%;
    }
    #projects-ctr .card{
        display: block;
        width: 90%;

    }
    #projects-ctr .card-img-top{
        height: 16rem;
    }
    #projects-ctr p {
        font-size: 1rem;
    }
}

